#terminal-demo
  height: 630px
  width: 100%
  max-width: 800px
  margin: 0 auto 50px
  position: relative
  background-color: #1c262f

span.closetab
  display: none

.editor-navbar
  display: none

.panel .navbar.unselectable
  display: none

body
  overflow: auto !important

#terminal-demo #runcode_container, .test-code-panel
  padding: 10px

#terminal-demo .terminal-panel .terminal
  padding: 10px

#terminal-demo .theme_dark .tab
  border: 0
  background-color: #1c262f
  height: 22px

#terminal-demo .theme_dark .tab.active
  background-color: #1c262f
  background: inherit
  border: 0

#terminal-demo #uploader
  display: none

#terminal-demo .files-table-wrapper
  overflow-y: hidden !important

#terminal-demo .panel.files-panel
  margin-right: -50px
