$uploader_height: 80px

=files_breadcrumbs()
  list-style: none
  font-size: 13px
  padding: 6px 12px 4px
  margin: 0px
  .theme_light &
    color: $text-light
  .theme_dark &
    a
      color: $cyan
  > li
    color: $base1
    display: inline-block
    a
      text-decoration: none
    .divider
      padding: 0 3px
      color: #999999

=files_list()
  cursor: default
  .icon-file:before
    content: "\f016"
    font-family: 'FontAwesome'
    display: inline-block
    margin-right: 10px
  .icon-folder:before
    content: "\f114"
    font-family: 'FontAwesome'
    display: inline-block
    margin-right: 10px
  th
    font-weight: 400
    .theme_light &
      border-bottom: 1px solid $border-light !important
    .theme_dark &
      border-bottom: 1px solid $border-dark !important
  td, th
    border: 0 !important
    white-space: nowrap
    &.file_name
      padding-left: 12px
      a
        .theme_light &
          color: $text-light
        .theme_dark &
          color: $base0
        &:hover, &:focus
          text-decoration: none
        .fa
          margin-right: 7px
          &.fa-file, &.fa-file-o
            margin-left: 1px
            margin-right: 8px
    &.file_size
      width: 20%
    &.file_mtime
      width: 20%
  tr.active, tr.context-menu-active
    td, th
      .theme_light &
        background-color: $accent-color-light
      .theme_dark &
        background-color: $accent-color-dark
  tr
    td.active, th.active
      .theme_light &
        background-color: $accent-color-light
      .theme_dark &
        background-color: $accent-color-dark
  tr.navigate_up
    td
      a
        margin-left: 9px
        .theme_light &
          color: $text-light
        .theme_dark &
          color: $text-dark
  .fa.fa-file-o
    font-size: 85%


#files_modal
  *:not(input.field)
    -moz-user-select: -moz-none
    -khtml-user-select: none
    -webkit-touch-callout: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
  .modal-content
    overflow: hidden
  .modal-body
    padding: 0
    padding-bottom: 20px

  td.file_dropdown
    pointer-events: none
    visibility: hidden

  #files_modal_display
    margin-bottom: 20px
    width: 100%
    > div
      overflow-y: auto
      height: 320px
      .theme_light &
        border-bottom: 1px solid $border-light
      .theme_dark &
        border-bottom: 1px solid $border-dark

    .nav
      margin-bottom: 0px
    .breadcrumbs
      +files_breadcrumbs()
      padding: 8px 14px
      .theme_light &
        border-bottom: 1px solid $border-light
      .theme_dark &
        border-bottom: 1px solid $border-dark
    +files_list()

  #files_modal_input
    // width: 100%
  #files_modal_submit
    height: auto
    margin-left: 10px

.files-panel
  position: absolute
  width: auto
  overflow: hidden
  top: 0%
  right: 90%
  bottom: 0%
  left: 0%
  font-size: 14px

  #files_container_inner
    height: 100%

    display: flex
    flex-direction: column
    #files_navbar
      flex-grow: 0
      flex-shrink: 0

      #files_toolbar, #active_file_toolbar
        display: flex
        flex-direction: row
        li
          a
            display: inline-block
      #create_folder, #create_file
        white-space: nowrap;

    #myCrumbs
      flex-grow: 0
      flex-shrink: 0

    .breadcrumbs
      +files_breadcrumbs()

    .files-table-wrapper
      flex-grow: 1
      overflow-y: scroll
      .files-table
        // override bootstrap
        margin-bottom: 0px !important

    +files_list()
    tbody.files_list
      width: 100%
      bottom: 0
      left: 0
      right: 0
      margin: 0
      padding: 0

#uploader
  bottom: 0
  min-height: $uploader_height
  left: 0
  right: 0
  .theme_light &
    border-top: 1px solid $border-light
    background: $background-light
  .theme_dark &
    border-top: 1px solid $border-dark
    background: $base02

  #upload_alerts
    margin-bottom: 10px
    .alert
      position: relative
      font-size: 90%
      padding: 8px 10px 6px
      margin: 10px 10px 0
      &.alert-dismissable .close
        position: absolute
        top: 5px
        right: 5px
      strong
        // prevent overflow
        display: inline-block
        margin-bottom: -3px
        max-width: 100%
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

  #drag_and_drop
    .file-input-name
      display: none
    .theme_light &
      color: $menu-text-light
    .theme_dark &
      color: $menu-text-dark

  #upload_list
    position: relative
    > *
      padding: 10px
      .theme_light &
        border-top: 1px solid $border-light
      .theme_dark &
        border-top: 1px solid $border-dark
    .actions
      display: inline-block
      text-overflow: ellipsis
      overflow: hidden
      max-width: 100%
      &, a
        .theme_light &
          color: $menu-text-light
        .theme_dark &
          color: $menu-text-dark
      .filename
        .theme_light &
          color: $text-light
        .theme_dark &
          color: $text-dark
      a
        font-size: 85%
    .progress
      height: 10px
      margin: 5px 0
